<section class="film-bg">  
  <div class="film-container">
    <div class="film-imgs">
      <img src="{{ film.image }}" alt="capa do filme">    
    </div>
    <div class="film-info">
      <h1 class="film-title">{{ film.title }}</h1>
      <h2 class="film-original-title line">{{ film.original_title }}</h2>

      <h3>Descrição (Inglês):</h3>
      <p class="film-description">{{ film.description }}</p>
      <h3> Diretor:</h3>
      <p class="film-director" > {{ film.director }} </p>
      <h3>Data de Lançamento</h3>
      <p class="film-release"> {{ film.release_date }} </p>
      <h3>Score</h3>
      <span class="film-score"> {{ film.rt_score }} </span>
    </div>
  </div>
</section>