.film {
  max-width: 14rem;
  border: 1px solid #fff;
  margin: 15px;
  flex-basis: 30%;
  cursor: pointer;
  transition: .5s;
  border-radius: 0 0 4px 4px;
}

.film:hover {
  box-shadow: 4px 4px 4px #e6e6e6;
}

.banner {
  border-radius: 4px 4px 0 0;
  max-width: 100%;
}

.film-info {
  text-align: center;
  padding: 1rem;
}

.title {
  color: #222;
  font-size: 1rem;
}

.original-title {
  color: #444;
  font-size: 0.9rem;

}
